#cboxLoadedContent {
	margin: 0px;
}

#cboxTopRight,#cboxBottomLeft,#cboxBottomRight,#cboxBottomCenter,#cboxTopCenter,#cboxTopLeft {
	width: 0xp;
	height: 0px;
}

#cboxMiddleLeft, #cboxMiddleRight {
	width: 0px;
}

#cboxClose {
	background-image: url('close.png');
	background-position: center center;
	border: none;
	top: 10px;
	right: 6px;
	width: 18px;
	height: 16px;
	padding: 0px;
	margin: 0px;
}
